*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #333;
    color: #fff;
    width: 1200px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn {
    display: inline-block;
}

.ul,
.ol {
    margin-left: 32px;
}

.primary-heading,
.secondary-heading,
.tertiary-heading {
    font-weight: 700;
    margin-bottom: 16px;
}

.primary-heading {
    font-size: 40px;
}

.secondary-heading {
    font-size: 35px;
}

.tertiary-heading {
    font-size: 30px;
}

.main-logo {
    font-size: 44px;
    font-weight: 700;
}

.main-logo,
.main-navbar {
    display: inline-block;
}

.main-navbar {
    text-align: center;
    list-style: none;
    margin-left: 500px;
}

.main-navbar-li {
    display: inline-block;
}

.main-navbar-a {
    padding: 24px;
}

.main-blog-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 700px;
    height: 500px;
}

.section {
    margin-bottom: 48px;
}
